body {
    font-family: 'Cabin', sans-serif;
    background-color: black;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

i {
    text-decoration: none;
}

hr {
    height: 3px;
    background-color: rgb(8, 216, 243);
}

.icono img {
    width: 2rem;
}

.asistente img {
    width: 1rem;
}

/*
.card {
    height: 500px;
}
*/
.card img {
    height: 130px;
}