body {
    font-family: 'Cabin', sans-serif;
    background-color: black;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

hr {
    height: 3px;
    background-color: rgb(19, 211, 236);
}

.icono img {
    width: 2rem;
}

.card {
    height: 500px;
}

.card img {
    height: 130px;
}